.widget {
    background: #fff;
    /* margin-bottom: .75rem; */
    display: block;
    position: relative;
    /* margin-top: 40px; */
}

.widget-user-list>li {
    display: inline-block;
}

.widget-user-list {
    padding: 0;
    list-style-type: none;
}

.widget-user-list {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
}

.widget-user-list>li+li {
    margin-left: -1.125rem;
}

.widget-user-list>li a {
    display: block;
    border: 0.15rem solid #fff;
    overflow: hidden;
    width: 2.25rem;
    height: 2.25rem;
    margin-bottom: -0.3125rem;
    line-height: 2rem;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 2.25rem;
    -moz-border-radius: 2.25rem;
    border-radius: 2.25rem;
}

.widget-user-list>li a img {
    display: block;
    max-width: 100%;
}

.widget-user-list>li.number a {
    background: #c7c7cc;
    color: #fff;
}

.widget-content, .widget-footer {
    /* padding: .625rem; */
    background: #fff;
    position: relative;
}